body {
   font-family: Arial, sans-serif;
   background-image: url(image.avif);
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.container {
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: #084b19 !important;
   z-index: 999;
   text-align: center;
   padding: 60px 50px;
   width: 470px;
   transform: translate(-50%, -50%);
   background: rgba(0, 0, 0, 0.04);
   box-shadow: -1px 10px 40px 0px rgb(9, 182, 72);
}

h1 {
   text-align: center;
   font-weight: bold;
   font-size: 42px;
   color: #ff0000;
   font-weight: 600;
   margin: 10px 0 50px 0;
}

.input-group {
   margin-bottom: 20px;
   margin-top: 10px;
   color: #ff0000;
   font-size: 20px;
}

.input-group label {
   display: block;
   margin-bottom: 20px;
   font-weight: bold;
}

.input-group input {
   width: 100%;
   padding: 8px 0px;
   font-size: 16px;
   border: 2px solid #4fff14;
   border-radius: 5px;
}

.hasil textarea {
   width: 100%;
   font-size: 16px;
   padding: 8px 0px;
   border: 2px solid #4fff14;
   border-radius: 5px;
}

.btn {
   display: inline-block;
   background-color: #ba0000;
   color: #ffffff;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: bold;
   border: 2px solid #4fff14;
   border-radius: 2px;
   cursor: pointer;
   transition: background-color 0.5s;
   margin-bottom: 40px;
   text-overflow: ellipsis;
}

.btn:hover {
   background-color: #0056b3;
   box-shadow: -1px 10px 40px 0px rgb(9, 182, 72);
}

.result {
   margin-top: 10px;
   text-align: center;
}
